/* File made up of global styles such as background images. this file also contains the animations keyframes for bothe the mobile and desktop view....its complicated o achieve this with emotion thats why css was used! */
body{
    margin: 0px;
    padding: 0px;
}
.Overview{
    padding:2vh 0px 0px 0px;
    background: #eeeeee;
}
table{
    border-collapse: collapse;
}
tr{
    border-radius: 200px;
}
td,th{
    padding: 5vh 5vh 3vh 8vh;
}
tr:hover{
    background-color: #efedff;
    border-radius: 20px;
    cursor: pointer;
}
tr:hover .btn .lala{
    background-color: #ff6a55;
    color: white;
}
@media only screen and (max-width: 576px) {
.Overview{
    background: #ffffff;
}
}
@media only screen and (max-width: 1200px) and (min-width:576px){
    td,th{
        padding: 3ch 4vh 2vh 0vh;
    }
}