/* File made up of global styles such as background images. this file also contains the animations keyframes for bothe the mobile and desktop view....its complicated o achieve this with emotion thats why css was used! */

input, select, textarea {
    font-size: 16px;
  }
.activeNavLink{
    text-decoration:none;
    text-align:center;
    margin:0vh 3vh;
    color:#5A48FA;
    font-size:14px;
    border-bottom: 2px solid #5A48FA;
    padding-bottom: 5px;
}
.navLink{
    text-decoration:none;
    text-align:center;
    margin:0vh 3vh;
    color:#73779F;
    font-size:14px;
    width: fit-content;
}
.MobilenavLink{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color:#73779F;
    padding-bottom: 10px;
}
.MobileactiveNavLink{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color:#5A48FA;
    padding-bottom: 10px;
    font-weight: bold;
    
}
.never{
    color: white;
    background-color: red;
    z-index: 3;
}
.firstView{
    height:100vh;
}
.secondView{
    padding-top: 10vh;
    padding-left: 10vh;
    margin-top:5vh;
    height: 120vh;
    background-image: url('./assets/backgroundPath.svg');
    background-repeat: no-repeat;
}
.thirdView{
    margin-top:10vh;
    padding:0vh;
    height: fit-content;
    background-image: url('./assets/backgroundPath2.svg');
    background-repeat: no-repeat;
}
.FourthView{
    margin-top:20vh;
    height: fit-content;
    background-image: url('./assets/backgroundPath3.svg');
    background-repeat: no-repeat;
}
.video{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}
.FithView{
    margin:0vh;
    margin-top: 20vh;
    height: fit-content;
    width: 100%;
}
.fithViewHalfCircle{
    width: 100vh;
    height: 100vh;
    background-image: url('./assets/halfCircle.svg');
    background-size: 90vh;
    background-repeat: no-repeat;
}
.center{
    padding: 5vh;
    margin:10vh;
}
.Mcenter{
    padding: 1vh;
    margin: 1vh;
}
.mobile{
    padding: 5vh;
    margin: 3vh;
    text-align: center;
}
.mobile img{
    display: flex;
    text-align: center;
}
.sixthView{
    height: 100vh;
    background-image: url('./assets/backgroundPath4.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 30% 100% ;
    margin-top: 15vh;
}
.Footer{
    height: 90vh;
    margin-top: 10vh;
    padding-top: 5vh;
    background-image: url('./assets/backgroundPath5.svg');
    background-repeat: no-repeat;
}
.moveUpBtn{
    color: blue;
    animation-name: MoveUp;
    animation-duration: .7s;
    -webkit-animation-name: MoveUp;
    -webkit-animation-duration: .7s;
}
@keyframes MoveUp {
    0% {
      bottom: -1%;
    }
    50%{
        bottom: 10%;
    }
    100% {
        bottom: 0%;
    }
  }


.coinImgAnimT{
    transform: scale(2);
    animation-name: coinAnim;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function:linear;
    animation-direction:alternate;
    border-radius: 100px;
}

@keyframes coinAnim {
    0%{
        transform: scale(2.5);
        filter: blur(1px);
        box-shadow: 11px 0px 10px #888888;
    }
    50%{
        transform: scale(3);
        filter: blur(0px);
        box-shadow: 0px 0px 10px #888888;
    }
    100%{
        transform: scale(4);
        filter: blur(0px);
        box-shadow: -11px 0px 10px #888888;
    }
}

@media only screen and (max-width: 576px) {
    .secondView{
        margin:0vh;
        padding: 5vh;
        padding-bottom: 0px;
        padding-top: 5vh;
        height: fit-content;
        width: 100%;
        background: none;
    }
    .firstView{
        height:fit-content;
    }
    .ThirdView{
        margin-top: 44px;
        height: 100%;
    }
    .FourthView{
        padding: 0px;
        height: fit-content;
        margin-top: 5vh;
        background: none  ;
    }
    .fithViewHalfCircle{
        width: 100%;
        height: fit-content;
        padding-bottom: 5vh;
        background-image: url('./assets/mobileHalfCircle.svg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .FithView{
        margin:0vh;
        height: fit-content;
        width: 100%;
    }
    .video{
        width: 100%;
        height: 40vh;
        margin-bottom:5vh;
        background-color: inherit;
    }
    .slick-dot{
        margin-top: 0vh;
    }
    .sixthView{
        height: 100%;
        margin-top: 42px;
    }
    .Footer{
        height: fit-content;
        background: none;
    }
 #mobileNav{
        padding: 0vh 3vh 0vh 3vh;
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: white;
        animation-name: runn;
        animation-duration: .4s;
        transition: all 1s;
        overflow: scroll;
        z-index: 20;
    }
    @keyframes runn {
        0% {
          width: 0%;
          position: absolute;
          left:-90%;
        }
        100% {
         width: 100%;
         position: absolute;
         left: 0%;
        }
      }

  }
  @media only screen and (max-width: 992px) and (min-width:576px){
    body,html{
        overflow-x: hidden;
    }
    .activeNavLink{
        margin: 1vh;
    }
    .navLink{
        margin: 1vh;
    }
    
  }