/* File made up of global styles such as background images. this file also contains the animations keyframes for bothe the mobile and desktop view....its complicated o achieve this with emotion thats why css was used! */

li{
    list-style-type: none;
}
#bestPlatForm{
    background-image: url(./assets/circularBg.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 100%;
}
@media only screen and (max-width: 576px) {
.gridCate{
    display: none;
}
#bestPlatForm{
    background-size: 100%;
    background-size: cover;
}
}
