@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}


/*===== Test-psd   ====*/


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: #F5F5F5;
	color:#64748B;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

/* body h1,
h2,
h3,
h4,
h5,
h6 {

} */

body p {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #64748B;
}


body h2.center-text {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 120%;
	color: #264653;
}

body h3 {
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 23.4205px;
	line-height: 35px;
	letter-spacing: 0.0975853px;
	color: #282D6C;
}


body h4 {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13.6619px;
	line-height: 160%;
	letter-spacing: 0.0975853px;
	color: #04063D;
	}


	body h5 {
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		font-size: 15.6137px;
		line-height: 23px;
		color: #5E6191;
   }
	


img,
svg {
	max-width: 100%;
}

img {
	vertical-align: bottom;
}

.container {
	max-width: 1164px;
	margin: 0 auto;
	padding: 0 15px;
}

body .btn,
body button[type="submit"],
body input[type="submit"] {
	background: #5A48FA;
	border-radius: 9.75853px;
	display: inline-block;
	color: #fff;
	padding: 11px 12px 12px;
	min-width: 229px;
	text-align: center;
	text-decoration: none;
	transition: 0.3s all;
	border: 2px solid #5A48FA;
	outline: none;
	font-family: 'Poppins';
	font-weight: 600;
	font-size: 15.6137px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.0975853px;
	cursor: pointer;
}

body .btn:hover,
body button[type="submit"]:hover,
body input[type="submit"]:hover {
	background: transparent;
	color: #5A48FA
}

body .btn:focus,
body button[type="submit"]:hover {
	outline: none
}

body .inactive,
body input[type="submit"].inactive,
body button[type="submit"] {
	background: #F9F9F9;
	color: #A7AFBD;
	border-color: #F9F9F9;
}

body input[type="email"],
body input[type="password"],
body input[type="confirm-password"],
body input[type="text"],
body input[type="tel"],
body input[type="date"],
body select,
textarea {
	background: transparent;
	border: 0.975853px solid #EAEAF0;
	border-radius: 7.80683px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13.6619px;
	line-height: 100%;
	color: #B4B6CC;
	padding: 16px 20px;
	display: block;
	margin-bottom: 10px;
	width: 100%;
	outline: none;
}

body input[type="email"]:focus,
body input[type="password"]:focus,
body input[type="confirm-password"]:focus,
body input[type="text"]:focus,
body input[type="tel"]:focus,
textarea:focus {
   border-color:#5A48FA
}

body input::placeholder , textarea::placeholder{
	color:#B4B6CC
}

textarea{
	resize: none;
}

form input.login[type="submit"] {
	margin-top: 26px;
	display: block;
}

form label.label {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 13.6619px;
	line-height: 160%;
	letter-spacing: 0.0975853px;
	color: #5E6191;
	margin-bottom: 7px;
	display: block
}

form .check {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  form .check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }
  
  /* Create a custom checkbox */
  form .checkmark {
	position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: transparent;
    border: 2px solid #64748B;
    border-radius: 6px;
  }

  
  /* Create the checkmark/indicator (hidden when not checked) */
  form .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  form .check input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  form .check .checkmark:after {
    left: 6px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #5A48FA;
    border-width: 0 2.5px 2.5px 0;
    transform: rotate(45deg);
  }


  .check-cont {
	display: flex;
	align-items: flex-start;
	gap: 10px
  }
  
  .check-cont p {
	font-weight: 400;
	font-size: 13.6619px;
	line-height: 160%;
	letter-spacing: 0.0975853px;
	color: #04063D;
	font-family: 'Poppins', sans-serif;
  
  }
  
   .check-cont {
	margin-bottom: 20px;
	position: relative
  }


  .col-33.col{
    width:calc(33.33% - 20px)
 }
 
 .col-50.col{
    width:calc(50% - 20px)
 }
 
 .col-100.col{
    width:100%;
 }

  .col{
    display: block;
    margin: 0 10px 10px;
  }



  @media(max-width:767px){
	body h2 {
		font-size: 35px;
	}

  }


  @media (max-width:730px) {

	.col-33.col, .col-50.col {
	  width: 100%;
	}

  }


  @media(max-width:479px){
	body .btn, body button[type="submit"], body input[type="submit"] {
		min-width: 200px;
	}

	body h2 {
		font-size: 35px;
	}
  }